<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">项目案例</a></li>
            <li><a href="#">技术支持</a></li>
            <li><a href="#">团队成员</a></li>
          </ul>
        </div>
        <p>Copyright © Design &amp; 更多内容 <a href="#" target="_blank" title="珠海聚科联有限公司">珠海聚科联有限公司</a> - Collect from <a href="#" title="网页模板" target="_blank">珠海聚科联有限公司</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>